@font-face {
  font-family: 'icomoon';
  src:  url('https://github.com/pavel-kv/files/raw/main/Fonts/icomoon_download.eot?596qq');
  src:  url('https://github.com/pavel-kv/files/raw/main/Fonts/icomoon_download.eot?596qq#iefix') format('embedded-opentype'),
    url('https://github.com/pavel-kv/files/raw/main/Fonts/icomoon_download.ttf?596qq') format('truetype'),
    url('https://github.com/pavel-kv/files/raw/main/Fonts/icomoon_download.woff?596qq') format('woff'),
    url('https://github.com/pavel-kv/files/raw/main/Fonts/icomoon_download.svg?596qq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-folder-download:before {
  content: "\e933";
}
.icon-box-add:before {
  content: "\e95e";
}
.icon-download:before {
  content: "\e960";
}
.icon-cloud-download:before {
  content: "\e9c2";
}
.icon-download2:before {
  content: "\e9c5";
}
.icon-download3:before {
  content: "\e9c7";
}
.icon-arrow-down:before {
  content: "\ea36";
}
.icon-arrow-down2:before {
  content: "\ea3e";
}
